Data Science Project

Introduction This is a project for the data science course.

Data science languages: python,scala,sql,R

Data Science libraries:Matplotlib,NumPy,TensorFlow,Panda

Data Science Tools
| Tool Name        | Description                                                                |
|------------------|----------------------------------------------------------------------------|
| Jupyter Notebook | web application that allows users to create and share interactive documents|
| RStudio          | code editor that comes with syntax highlighting, code completion, and debugging tools|
| Apache Hadoop    | open-source framework that enables the processing and storage of large data sets across computer cluster|
| Apache Spark     | open-source analytics engine for large-scale data processing and machine learning|
| TensorFlow       | free, open-source library for machine learning and artificial intelligence |

Arithmetic Expression Examples
few examples of basic arithmetic operations: x+y, x-y, x*y

In [2]:
a=5
b=10

answer=a*b+a+b
answer

65

In [3]:
hours=2
minutes=hours*60
minutes

2.0

List of objectives are: learn to use jupyter notbeook, learn to add and multiply digits, learn to use markdown

Author's name : Mahika J